# day 1

In [25]:
data = parse.(Int, readlines("./day1/input"))
[(i, j, i*j) for i in data for j in data if i+j == 2020]

2-element Array{Tuple{Int64,Int64,Int64},1}:
 (1312, 708, 928896)
 (708, 1312, 928896)

In [24]:
[(i, j, k, i*j*k) for i in data for j in data for k in data if i+j+k == 2020]

6-element Array{NTuple{4,Int64},1}:
 (798, 664, 558, 295668576)
 (798, 558, 664, 295668576)
 (664, 798, 558, 295668576)
 (664, 558, 798, 295668576)
 (558, 798, 664, 295668576)
 (558, 664, 798, 295668576)

# day 2

In [61]:
input = split.(readlines("./day2/input"))
data = [vcat(parse.(Int, split(i[1], "-")), [i[2][1], i[3]]) for i in input]

1000-element Array{Array{Any,1},1}:
 [6, 7, 'w', "wwhmzwtwwk"]
 [10, 12, 'q', "qqqqqqqqqqqdqqq"]
 [16, 17, 'd', "ddddgdddddkddddsxddd"]
 [2, 4, 'q', "shbqwqpps"]
 [3, 4, 'q', "qkfq"]
 [2, 10, 'm', "bkdrmcfdhmr"]
 [13, 19, 's', "blccvhsgsnsssqszssm"]
 [1, 3, 'l', "qlxllhl"]
 [4, 6, 'h', "hhhqhhh"]
 [15, 17, 'l', "jrtllrlllllmmlllg"]
 [11, 12, 'n', "bnzlnnnnbnntnnnc"]
 [1, 7, 'p', "pppvppjppmptp"]
 [5, 6, 't', "tttnht"]
 â‹®
 [4, 13, 'j', "sjjjjjjjjjjjtjj"]
 [7, 8, 'r', "fztxkwhrrxnnn"]
 [5, 6, 'r', "rrqrrrr"]
 [1, 5, 'q', "qqqqvqqq"]
 [8, 14, 't', "ttvpttkptthtttrcj"]
 [2, 7, 'n', "znjqsvpstfjph"]
 [6, 7, 'l', "llllllnl"]
 [19, 20, 'c', "vwltcctcmcdccrqdccwc"]
 [4, 15, 'd', "bfkxfrsznfkdzpjmbp"]
 [12, 15, 'q', "qqqqqqqqqqqvqqqq"]
 [6, 10, 't', "tttttbttktt"]
 [1, 18, 'c', "ccdczcvccvclcccvkccb"]

In [72]:
sum([ i[1] <= count(c -> (c == i[3]), i[4]) <= i[2] for i in data])

477

In [76]:
sum([ xor(i[4][i[1]] == i[3], i[4][i[2]] == i[3]) for i in data])

686

# day 3

In [138]:
input = readlines("./day3/input")
data = input

function trees_hit(data::Array, right::Int=3, down::Int=1)::Int
    row = 1
    col = 1
    maxcols = length(data[1])
    maxrows = length(data)-1
    trees = 0

    for i = 1:maxrows/down
        row = row + down
        col = col + right
        if col > maxcols
            col = col - maxcols
        end
        if data[row][col] == '#'
            trees += 1
        end
    end
    return trees
end

res = 1
for (right, down) = [(1,1), (3,1), (5,1), (7,1), (1,2)]
    th = trees_hit(input, right, down)
    println(th)
    res *= th
end

res

79
234
72
91
48

5813773056

# day 4

# day 5

In [173]:
input = readlines("./day5/input");

In [187]:
function parse_seat(seat_str, high='B')
    len = length(seat_str)
    coeffs = [c == high ? 1 : 0 for c in seat_str]
    return sum([c * 2^(len-pow) for (pow, c) in enumerate(coeffs)])
end

function seat_id(seat_str)
    return 8 * parse_seat(seat_str[1:7]) + parse_seat(seat_str[8:10], 'R')
    
end

seat_ids = seat_id.(input)
maximum(seat_ids)

938

In [188]:
function find_seat(seat_ids)
    i1 = 0
    for i in sort(seat_ids)
        if i == i1+2
            return i-1
        end
        i1 = i
    end
end
    
find_seat(seat_ids)

696